<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dasar-dasar Vue</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="book in books">{{ book }}</li>
        </ul>

        <!-- with template and index -->
        <ul>
            <template v-for="(book, index) in books">
                <li>{{ index+1 }} . {{ book }}</li>
            </template>
        </ul>
    </div>

    <script src="vue.js"></script>
    <script>
        var vue = new Vue({
            el: '#app',

            data: {
                books : [
                    'C++ High Performance', 
                    'Mastering Linux Security and Hardening', 'Python Programming Blueprints', 
                    'Mastering PostgreSQL 10'
                ]
            },
        });
    </script>
</body>
</html>